@import url(https://fonts.google.com/specimen/Kumbh+Sans);
body {
  background-color: hsl(185, 75%, 39%);
}
.top-image-card {
  position: absolute;
  right: 47em;
  bottom: 16em;
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.profile {
  width: 20em;
  height: 30em;
  border-radius: 20px;
  background-color: white;
  background-image: url(assets/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;
  margin: 2em;
  left: 0px;
}

.profile-image {
  border-radius: 50%;
  margin: 6em 6em 0 6em;
}
.rate-container {
  flex-direction: row;
  position: absolute;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}
.rate-content {
  padding: 0 1.5em 1.5em 1.5em;
  width: 2em;
  height: 2em;
  left: 0;
  right: 0;
}
h1 {
  font-size: 18px;
  font-family: Kumbh;
  font-weight: bold;
}
.h4 {
  font-size: 18px;
  font-family: Kumbh;
}
.bottom-image-card {
  position: absolute;
  display: flex;
  left: 48em;
  top: 12em;
}
