@font-face {
  font-family: "Kumbh ";
  src: url("https://fonts.google.com/specimen/Kumbh+Sans");
}

body {
  background-color: hsl(185, 75%, 39%);
}
.main {
  position: absolute;
  margin: -25px 0 0 -25px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-content: center;
}
.profile {
  height: 420px;
  width: 350px;
  border-radius: 20px;
  background-color: white;
  background-image: url(assets/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.top-image-card {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 30px;
  transform: rotate(45deg) translateZ(180px);
  bottom: 300px;
  display: flex;
}
.rate-container {
  flex-direction: "column";
  position: absolute;
  display: flex;
}

.profile-image {
  border-radius: 50%;
  margin: 30% 30% 0% 30%;
}
.name-card {
  margin: 0% 0% 0% 30%;
}
.name-text {
  font-family: "Kumbh" sans-serif;
  font-size: 18px;
}
.capital-card {
  font-size: 18px;
}
.bottom-image-card {
  position: absolute;
  width: 500px;
  height: 500px;
  transform: rotate(45deg) translateY(180px);
  display: flex;
  right: 0;
  bottom: 0;
  left: 850px;
  top: 180px;
}
p {
  font-family: "Kumbh" sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.rate-content {
  padding: 10px;
  width: 10px;
  height: 30px;
  margin: 10px 20px 20px 40px;
  align-items: center;
  justify-content: center;
}
