@import url(https://fonts.google.com/specimen/Kumbh+Sans);
body {
  margin: auto;
  margin-top: 80px;
  background: hsl(185, 75%, 39%);
  height: 80vh;
  position: relative;
  display: flex;
  width: auto;
}
body::before {
  content: "";
  background: url("assets/bg-pattern-top.svg");
  background-repeat: no-repeat;
  background-position: 30px;
  height: 600px;
  width: 80%;
  transform: rotate(-5deg);
  position: absolute;
  top: -16rem;
  right: 43rem;
  z-index: -1;
}
body::after {
  content: "";
  background: url("assets/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: 1000px;
  height: 450px;
  width: 43%;
  position: absolute;
  top: 7rem;
  left: 48.6rem;
  z-index: -1;
}
.container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.profile {
  width: 20em;
  height: 30em;
  border-radius: 20px;
  background-color: white;
  background-image: url(assets/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;
  margin: 2em;
  left: 0px;
}

.profile-image {
  border-radius: 50%;
  margin: 6em 6em 0 6em;
}
.rate-container {
  flex-direction: row;
  position: absolute;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}
.rate-content {
  padding: 0 1.5em 1.5em 1.5em;
  width: 2em;
  height: 2em;
  left: 0;
  right: 0;
}
h1 {
  font-size: 18px;
  font-family: Kumbh;
  font-weight: bold;
}
.h4 {
  font-size: 18px;
  font-family: Kumbh;
}
.bottom-image-card {
  position: absolute;
  display: flex;
  left: 48em;
  top: 12em;
  opacity: 0.5;
  transform: rotate(120deg);
}
